<app-header></app-header>



<div class="container">
    <header>
        <h1>About Zeynep Çırçır</h1>
    </header>
    <section class="bio">
        <h2>Passionate Software Developer and Technology Enthusiast</h2>
        <p>Hello, I'm Zeynep Çırçır, a dedicated Computer Engineering student at Karabuk University,
            specializing in software development with a focus on frontend technologies like Angular. Fluent in English.
        </p>
    </section>
    <section class="education">
        <h2>Education</h2>
        <ul>
            <li>BSc in Computer Engineering, Karabuk University (2020 - Present)</li>
            <li>Preparation Education, Level B2 English Proficiency (2019 - 2020)</li>
        </ul>
    </section>
    <section class="experience">
        <h2>Professional Experience</h2>
        <p>Frontend Development Intern at SmartICT Bilişim A.Ş., Ankara (2024 - Present)</p>
        <p>Software Developer Intern at EAE Technology, Istanbul (2022)</p>
    </section>
    <section class="leadership">
        <h2>Leadership and Volunteering</h2>
        <p>Trainer and Mentor, Özdemir Bayraktar Scholarship Program, T3 Foundation (2023)</p>
        <p>Chairman, IEEE CS Branch, Karabuk University (2021 - 2023)</p>
    </section>
    <footer>
        <p>Connect with me on <a href="https://www.linkedin.com/in/zeynep-circir">LinkedIn</a> or visit my <a
                href="https://github.com/zeynepcircir">GitHub</a>.</p>
    </footer>
</div>





