<app-header></app-header>

<div class="container">
    <main>
        <div class="content">
            <h2 class="title">Passionate </h2>
            <h2 class="subtitle">FRONTEND Development</h2>
            <p class="parag">Elevating User Experiences with Creative UI/UX Design.</p>
            <p class="parag">I'm a frontend development intern based in Ankara. I am interning at SmartICT. I'm passionate about my work.</p>
        </div>
        <img src="../../../assets/zey.webp" class="profile-image" alt="Profile Image">
    </main>
    <footer>
        <p>Zeynep Çırçır</p>
    </footer>
</div>


